body{
	background-color: #F5F6F8;
}

.my-wrap{
	width: 380px;
	
}
hr{
	margin-bottom: 15px;
}
.btn-list{
	font-size: 20px;
	border: 1px solid #56a900;
	height: 60px;
	color: #56A900;
	background-color: white;
	margin-top: 2px;
}
.btn-list:hover,
.btn-list:active,
.btn-list:visited,
.btn-list:focus{
	
	background-color :#56A900;
	color: #ffffff;
	
}
.btn-naver{
	background-color: #ffffff;
	border: 1px solid #E0E0E0;
	color: black;
}
.btn-naver:hover,
.btn-naver:active,
.btn-naver:visited,
.btn-naver:focus{
	text-decoration: none;
	background-color: #ffffff;	
	color: black;	
}
a:Link,
a:hover,
a:active,
a:visited,
a:focus{
	color: gray;
	text-decoration: underline;
}
	footer{
	margin-top: 100px;
} 
